@import url(../../assets/BOOTSTRAP/bootstrap.css);
.col-sm,.row{
    padding: 0px;
    margin: 0px;
}
.login{
    max-width: 35%;
    height: 570px;
    background-color: rgb(20, 19, 19);
    margin-left: 32%;
    margin-top: 40px;
    animation-name: eben;
    animation-duration: 2s;
    transition: all 2s;
    .header{
        width: 100%;
        height: 90px;
        background-color: #34D134;
        img{
            max-width: 18%;
            margin-left: 10px;
            margin-top: 5px;
        }
    }
    .form{
       overflow-y: scroll;
       height: 250px; 
       min-width: 425px;
       margin-bottom: 20px;
    }
    .body{
        max-width: 35%;
        padding: 40px;
        padding-left: 20px;
        padding-right: 20px;
        .phone{
            margin-bottom: 60px;
            p{
                font-size: 25px;
                font-weight: bold;
            }
            button{
                background-color: #34D134;  
                border: none;
                outline: none;
                min-width: 60px;
                height: 60px;
                i{
                    font-size: 50px;
                }
            }
            input{
                min-width: 80%;
                height: 60px;
                outline: none;
                border: none;
            }
        }
    }
    .logbtn{
        button{
            background-color: #34D134;
            border: none;
            outline: none;
            min-width: 345%;
            height: 60px;
            color: white;
            font-size: 25px;
        }
    }
    .buttom{
        min-width: 345%;
        color: white;
        margin-top:30px;
    }
    .notreg{
        min-width: 345%;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
      .not{
          color: white;
      } 
      .signup{
      color: #34D134;
      margin-left: 3px;
      }
    }
}

.borderdanger{
    border: 4px solid red !important;
    color: red;
    font-weight: bold;
}

.faint{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 6000;
    left:0px;
    top:0px
}
.card{
    animation-name: eben;
    animation-duration: 2s;
    transition: 2s;
    position: absolute;
    width: 40%;
    left: 30%;
    height: 200px;
    top: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    button{
        border: none;
        outline: none;
        width: 100px;
        height: 50px;
        border-radius: 10px;
        color: white;
        margin-top: 20px;
    }
}

@keyframes eben{
    0%{
        opacity: 0.4;
    }
}

@media(max-width:1177px){
    .login{
        margin-left: 35%;
    }
    .form{
        min-width: 360% !important;
     }
     .logbtn{
        button{
           min-width: 360% !important;
        }
    }
    .cord{
        min-width: 60% !important;
        margin-left: -5%;
    }
}


@media(max-width:1100px){
    .login{
       min-width: 40%;
    }
}

@media(max-width:1070px){
    .cord{
        min-width: 80% !important;
        margin-left: -15%;
    }
}


@media(max-width:1020px){
    .form{
        min-width: 370px !important;
     }
}

@media(max-width:1000px){
    .login{
        min-width: 50%;
       margin-left: 26%;
    }
    .form{
        min-width: 410px !important;
     }
     .form{
        min-width: 440px !important;
     }
     .logbtn{
        button{
            width: 340%;
           min-width: 340% !important;
        }
    }
}
@media(max-width:950px){
    .form{
        min-width: 390px !important;
     }
}
@media(max-width:930px){
    .form{
        min-width: 370px !important;
     }
}
@media(max-width:930px){
    .form{
        min-width: 350px !important;
     }
}
@media(max-width:850px){
    .form{
        min-width: 330px !important;
     }
}



@media(max-width:800px){
    .login{
        min-width: 60%;
        margin-left: 22%;
        margin-top: 40px;
    }
    img{
        width: 80px !important;
        margin-top: 5px !important;
    }
    .form{
        min-width: 440px !important;
     }
     .logbtn{
        button{
            width: 340%;
           min-width: 340% !important;
        }
    }
    .cord{
        min-width: 100% !important;
        margin-left: -25%;
    }
}



@media(max-width:780px){
    .form{
        min-width: 400px !important;
     }
}
@media(max-width:740px){
    .cord{
       font-size: 20px;
    }
}
@media(max-width:710px){
    .form{
        min-width: 380px !important;
     }
}
@media(max-width:700px){
    .form{
        min-width: 350px !important;
     }
}

@media(max-width:650px){
    .login{
        min-width: 80%;
        margin-left: 10%;
    }
    .form{
        min-width: 480px !important;
     }
}

@media(max-width:630px){
    .form{
        min-width: 450px !important;
     }
}

@media(max-width:600px){
    .login{
        min-width: 100%;
        margin-left: 0%;
        margin-top:0vh;
        height: 650px;
    }
    img{
        width: 80px !important;
        margin-top: 5px !important;
    }
    .buttom{
        min-width: 300% !important;
    }
    .notreg{
        min-width: 320% !important;
    }
    .form{
        min-width: 550px !important;
     }
     .logbtn{
        button{
            width: 330%;
           min-width: 330% !important;
        }
    }
}

@media(max-width:560px){
    .form{
        min-width: 520px !important;
     }
}

@media(max-width:550px){
    .login{
        min-width: 100%;
        margin-left: 0%;
        margin-top: 0px;

    }
    img{
        width: 80px !important;
        margin-top: 5px !important;
    }
    // .logbtn{
    //     button{
    //         min-width: 510px !important;
    //        margin-left: 0px;
    //     }
    // }
}

@media(max-width:540px){
    .login{
        height: 720px !important;
    }
}


@media(max-width:520px){
    .form{
        min-width: 450px !important;
     }
}

@media(max-width:500px){
    .login{
        min-width: 100%;
        margin-left: 0%;
        margin-top: 0px;
    }
    img{
        margin-top: 5px !important;
    }
    .logbtn{
        button{
           margin-left: 0px;
        }
    }
    .form{
        min-width: 430px !important;
     }
}
@media(max-width:480px){
    .form{
        min-width: 380px !important;
     }
}
@media(max-width:470px){
    .form{
        min-width: 370px !important;
     }
}
@media(max-width:450px){
    .login{
        min-width: 100%;
        margin-left: 0%;
        margin-top: 0px;
    }
    img{
        margin-top: 10px !important;
    }
    .logbtn{
        button{
           margin-left: 13px;
        }
    }
}

@media(max-width:440px){
    .form{
        min-width: 350px !important;
     }
}
@media(max-width:430px){
    .form{
        min-width: 330px !important;
     }
}

@media(max-width:414px){
    .login{
        min-width: 100%;
        margin-left: 0%;
        margin-top: 0px;
    }
    img{
        margin-top: 10px !important;
    }
    .logbtn{
        button{
           margin-left: 13px;
        }
    }
    .cord{
        width: 100%;
        margin-left: -25%;
        text-align: center;
    }
}

@media(max-width:400px){
    .form{
        min-width: 310px !important;
     }
}
@media(max-width:380px){
    .form{
        min-width: 290px !important;
     }
}
@media(max-width:360px){
    .form{
        min-width: 305px !important;
     }
     .cord{
        width: 100%;
        margin-left: -30%;
        text-align: center;
    }
    
}