<main class="row"[hidden]="passwordhide">
    <main class="col-sm">
        <div class="login">
         <div class="header">
            <img src="../../assets/IMAGES/ajologo.png" alt="">
         </div>

         <form class="body" [formGroup]="forms">
          <div class="phone d-flex">
            <button class="mr-3"><i class="fa fa-mobile text-white"></i></button>
            <input type="text" class="form-control-lg" placeholder="+2348167302322" formControlName="phone" [ngClass]="{'text-danger font-weight-bold':phone?.invalid && phone?.touched}">
          </div>
          <div class="phone d-flex">
            <button class="mr-3"><i class="fa fa-lock text-white"></i></button>
            <input type="password" class="form-control-lg" placeholder="Any Old Password" formControlName="password" [ngClass]="{'text-danger font-weight-bold':password?.invalid && password?.touched}">
          </div>
          <div class="logbtn">
              <button [disabled]="forms?.invalid" (click)="otp()">GENERATE OTP</button>
          </div>
          <div class="buttom d-flex justify-content-between">
           <div (click)="disp()">Terms & Conditions</div>
           <div (click)="login()">Login</div>
          </div>
          <div class="notreg d-flex" (click)="register()">
              <p class="not">Not Registered?</p>
              <p class="signup">Sign up</p>
            </div>
        </form>

        </div>
    </main>
</main>
<router-outlet></router-outlet>